body{
    padding-top: 5%;
    background-color: aliceblue;
}

h1{
    font-weight: 200;
    color:#008080;
}

.container{
    background-color: aqua;
    padding: 2%;
    width: 60%;
}

.form-control{
    border-radius: 10px;
    width: 100%;
}

h5{
    font-size: medium;
}